$design-orange: #f86830;
$develop-grey: #5e5e5e;
$ei-blue: #01123b;

@mixin center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin img($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.bg-video {
  min-width: 100%;
  min-height: 100%;
  z-index: -15;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a.anchor {
    display: block;
    position: relative;
    top: -68.9px;
    visibility: hidden;
}

nav {
  background: $develop-grey;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  position: sticky;
  top: 0;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }

  a:visited {
    color: #fff;
  }

  ul {
    display: flex;
  }

  li {
    color: #fff;
    list-style-type: none;
    padding: 10px;

    &:hover {
      & > a {
        color: $design-orange;
      }
    }
  }

  img {
    margin: 0 40px;
    width: 240px;
    height: 33px;
  }
}

.flex {
  display: flex;
}

.fixed-logo {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 240px;
  height: 33px;
  z-index: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: opacity(.1);
  z-index: -20;
  top: 0;
  left: 0;
}

.center-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  background: #01123b;
  padding: 100px 0 100px 0;
  color: white;

  h2 {
    background: #fff;
    font-size: 72px;
    font-weight: 700;
    padding: 10px 0 10px 72px;
    margin: 40px 0;
    width: 70%;
  }

  h3 {
    font-size: 36px;
  }

  li {
    font-size: 24px;
  }

  .design {
    color: #f86830;
  }

  .develop {
    color: #686472;
  }

  .deliver {
    color: #01123b;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
  }

  .center-img {
    grid-row: span 2;
  }

  .intro-cart {
    // margin: 80px;
    width: 60%;
    height: auto;
  }
}

.team {
  background: #01123b;
  padding: 20px 0 200px 0;
  color: #fff;

  h2 {
    background: #fff;
    color: #01123b;
    font-size: 72px;
    font-weight: 700;
    padding: 10px 72px;
    width: 60%;
  }

  h3 {
    font-size: 36px;
    text-align: right;
    width: 50%;
  }

  .h3-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    margin: 40px;
  }

  .bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .f-left {
    font-size: 24px;
    padding-left: 40px;
    width: 40%;
  }

  .f-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
  }

  .offices {
    color: #f1642f;
    transform: rotate(-90deg);
    margin-right: -40px;
    height: 24px;
  }
}

.clients {
  border-bottom: 40px solid black;
  margin-bottom: 100px;

  h2 {
    background: #f86830;
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    padding: 20px 72px;
  }

  .grid {
    display: grid;
    margin: 50px 0;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
  }

  img {
    width: 40%;
  }
}

.skills {
  h3 {
    font-size: 64px;
  }

  p {
    font-size: 24px;
    margin: 20px 0;
  }

  img {
    display: block;
    margin: 20px auto;
    width: 60%;
  }

  .design {
    color: $design-orange;
  }

  .grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    margin: 60px;
  }

  .develop {
    color: #5e5e5e
  }
}

.main-section {
  
  
  h2 {
    font-size: 80px;
  }

  ul {
    padding-left: 20px;
  }

  li {
    font-size: 19px;
  }
}

.design-main {
  border-top: 40px solid $design-orange;
  padding: 50px 0;

  h2 {
    color: $design-orange;
  }

  img {
    display: block;
    width: 40%;
    margin: 20px auto;
  }

  .design-wrapper {
    margin: 60px;

    li {
      margin: 20px 0;
      color: $design-orange;
    }
  }
}

.develop-main {
  border-top: 40px solid $develop-grey;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 100px;

  h2, h5 {
    font-weight: 700;
    color: #5e5e5e;
  }

  h5 {
    font-size: 24px;
    padding-bottom: 20px;
  }

  img {
    width: 25%;
    height: 25%;
    margin-top: 60px;
  }

  .develop-wrapper {
    display: inline-block;
    width: 60%;
    padding-bottom: 180px;
    margin: 60px; 

    li {
      color: $develop-grey;
    }
  }

  .develop-story {
    color: #959595;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
  }
}


.deliver-main {
  border-top: 40px solid black;
  padding-top: 100px;

  h2 {
    font-size: 64px;
  }

  h5 {
    font-size: 24px;
    margin: 20px 0;
  }

  ul {
    margin: 10px 0;
  }

  .sedex-img {
    width: 20%;
    height: auto;
  }

  .sedex-wrapper {
    @include center;
  }

  .deliver-top-wrapper {
    @include center;
    color: #01123b;
  }

  .deliver-sedex {
    line-height: 1.5em;
    display: inline-block;
    width: 60%;
  }

  .deliver-wrapper {
    padding-bottom: 180px;
    margin: 60px; 

    li {
      color: black;
    }
  }


  li {
    color: black;
  }
}

.capabilities {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 100px 0 0 0;
  padding-bottom: 100px;
  background: #01123b;

  .capabilities-text {
    color: #fff;
    font-size: 24px;
    padding: 20px;

    p {
      font-weight: 700;
    }
  }

   h2 {
    background: #fff;
    color: #01123b;
    font-size: 72px;
    font-weight: 700;
    margin: 40px 0;
    padding: 10px 72px;
    width: 60%;
    grid-column: span 2;
  }

  h3 {
    color: $design-orange;
    margin: 10px 0;
  }

  li {
    margin-left: 15px;
  }

  img {
    grid-row: span 2;
    width: 60%;
    padding-bottom: 40px;
    margin: auto;
    height: auto;
  }
  
}

.pos {
  background: $ei-blue;
  padding: 40px 40px 100px 40px;
  display: grid;
  grid-template-columns: 65fr 35fr;

  h2 {
    background: #fff;
    color: #01123b;
    font-size: 72px;
    font-weight: 700;
    margin: 40px 0;
    padding: 10px 72px;
    width: 60%;
    grid-column: span 2;
  }

  h3 {
    color: $design-orange;
    font-size: 42px;
    text-align: center;
  }

  .pos-text {
    color: white;
    grid-row: span 2;
    font-size: 18px;

    p {
      font-weight: 700;
      padding-top: 10px;
    }
  }

  .pos-text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .greygoose-cart {
    @include img("../images/greygoosecart.png");
  }

  .dusse-disp {
    @include img("../images/dusse_disp.png");
    width: 46%;
  }
  
  .angels-envy {
    @include img("../images/angels_envy.png");
    width: 56%;
  }
}

.technology {
  background: $ei-blue;
  display: grid;
  grid-template-columns: 75fr 25fr;
  padding: 100px 40px;

  h2 {
    background: #fff;
    color: #01123b;
    font-size: 72px;
    font-weight: 700;
    margin: 40px 0;
    padding: 10px 0 10px 72px;
    width: 80%;
    grid-column: span 2;
  }

  p {
    color: white;
    font-size: 24px;
    margin: 30px;
  }

  .technology-text {
    background: $ei-blue;
    grid-row: span 3;
    min-height: 350px;
    padding: 60px 40px;

    span {
      color: $design-orange;
    }
  }

  .absolut-display {
    grid-row: span 2;
    @include img("../images/absolut-display.png");
  }

  .compass-table {
    @include img("../images/compass-table.png");
  }
}

.displays {
  background: #fff;
  padding: 50px 0;
  color: $ei-blue;

  h2 {
    padding-left: 40px;
    font-size: 70px;
  }

  p {
    font-size: 24px;
  }

  .top {
    display: flex;
    padding: 40px;

    p {
      margin: 20px 0;
    }

    img {
      width: auto;
      height: 100%;
      margin: auto 0;
    }
  }

  .bottom {
    background: $ei-blue;
    text-align: right;
    padding: 40px;

    span {
      color: $design-orange;
      font-weight: 300;
    }

    h2 {
      color: white;
      font-weight: 700;
    }

    p {
      color: #fff;
      margin: 20px 0;
    }

    img {
      width: 60%;
      height: auto;
    }
  }
}

.contact {
  font-size: 32px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 640px;
  justify-content: center;
  padding-left: 200px;

  .contact-address {
    margin:  40px 0;
  }

  .contact-address > p {
    margin: 0;
  }

  .contact-links {
    margin: 40px 0;
  }

  .contact-links > a {
    font-size: 32px;
    margin-right: 10px;
    text-decoration: none;
  }

  .contact-links > a:visited {
    color: #0000ee;
  }
}



